@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --page-height: 100%;
}

html {
  height: -webkit-fill-available;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mb-5 mt-8 text-left text-2xl font-bold text-slate-900;
}

h1 {
  @apply mt-0 mb-5 text-6xl;
}

h2 {
  @apply mb-5 text-6xl font-bold;
}

h3 {
  @apply mb-5 text-4xl font-bold text-slate-800;
}

a {
  @apply text-left text-orange-500;
}

.component-hidden {
  @apply translate-x-full opacity-0 blur-sm transition-all duration-500 motion-reduce:transition-none;
}

.show {
  @apply translate-x-0 opacity-100 blur-0;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1e293b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0f172a;
}

/* Selection */
::selection {
  color: white;
  background: #fb923c;
}
