@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-0 h-[100vh] w-[100vw] text-slate-700 font-Inter bg-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold text-2xl text-left text-slate-900 mb-5 mt-8;
}

h1 {
  @apply text-6xl mt-0 mb-5;
}

h2 {
  @apply text-6xl font-bold mb-5;
}

a {
  @apply text-orange-500 text-left;
}

hr {
  border-top: 1px solid #ddd;
  margin: 1rem 0;
}

.rubik-font {
  font-family: "Rubik", sans-serif;
}

main {
  @apply h-[100vh] w-[100vw] bg-white bg-center bg-cover m-0 relative z-[2] transition-all duration-500 ease-in-out transform;
}

body[data-nav="true"] > main {
  transform: translateY(-50%);
}

body[data-nav="true"] > footer > nav > #nav-links {
  transform: translateY(0%) scale(1);
}

body[data-nav="true"] > #nav-toggle {
  background-color: rgb(85, 130, 149);
}

#nav-toggle > i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  color: rgb(246, 231, 224);
  font-size: 1.75rem;
  opacity: 0;
  transition: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 400ms;
}

body:not([data-nav="true"]) > #nav-toggle:hover > .open {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

body[data-nav="true"] > #nav-toggle > .close {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
