.moving-cards {
  @apply flex w-[90%] my-5 gap-5;
}

.panel {
  @apply bg-cover bg-center bg-no-repeat h-[50vh] cursor-pointer flex-[0.5]  relative transition flex duration-300 ease-in text-white;
}

.panel.active {
  @apply flex-[5];
}

.panel h2 {
  @apply text-3xl text-white absolute bottom-5 left-5 m-0 opacity-0;
}

.panel.active h2 {
  @apply opacity-100 transition duration-700 ease-in;
}

.panel > .card-id {
  @apply absolute top-5 right-5 text-white font-extrabold text-8xl opacity-100;
}

.panel p {
  @apply text-lg absolute bottom-14 left-5 m-0 opacity-0;
}

.panel.active p {
  @apply opacity-100 transition duration-700 ease-in;
}

.panel a {
  @apply hidden text-white;
}

.panel.active a {
  @apply block;
}
