---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>About Me</h1>

  As a software engineer, I am passionate about building real-world websites and
  apps that people use globally. Growing up in a small, underdeveloped town in
  Algeria, I was exposed to the internet and computers birth in my city at a
  young age, sparking my interest in technology. In 2016, I began creating
  websites as a hobby and have since expanded my skillset to include a variety
  of languages and technologies. I am currently pursuing a degree in software
  engineering and have learned valuable skills, such as web development with
  performance, security, and architecture in mind. I am always seeking to learn
  new technologies and deliver high-quality solutions for my clients. In terms
  of my technical skills, I have a strong foundation in a variety of programming
  languages and technologies. I am proficient in JavaScript and have experience
  working with React, Next.js, and Express.js. I am also skilled in HTML and
  CSS, with a working knowledge of Tailwind CSS. Additionally, I have experience
  with Python and Django, as well as PHP and WordPress. I am also familiar with
  AWS and Git (GitHub + CI/CD). Other languages and technologies I have worked
  with include Java, Kotlin, and the Android SDK. I am always seeking to learn
  new technologies and expand my skill set. In addition to my technical skills,
  I have also developed a range of valuable soft skills through my experiences
  in the field. I am a highly organized and detail-oriented individual, with the
  ability to manage multiple tasks and prioritize effectively. I am also a
  strong communicator, able to collaborate effectively with clients and team
  members to achieve common goals. I am dedicated to continuous learning and
  staying up-to-date with the latest developments in the field, and am always
  seeking to improve my skills and expertise.
</Layout>
