---
import Layout from "../layouts/Layout.astro";
import Page from "../components/Page.astro";
---

<Layout>
  <Page>
    <h1>Contact</h1>
    <p>
      To get in touch, please send an email to
      <a href="mailto:charaf4charaf@gmail.com" class="text-gray-700"
        >charaf4charaf@gmail.com</a
      >
    </p>
  </Page>
</Layout>
