---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
---

<Layout>
  <Section>
    <h1>Hi! I'm Charaf Mrah 👋</h1>
    <p>Software Engineer</p>
  </Section>
  <Section>
    <h2>Section 2</h2>
    <p>Section 2</p>
  </Section>
</Layout>

<style>
  p {
    margin-top: 10px;
  }
</style>
