---
import Layout from "../layouts/Layout.astro";
import Page from "../components/Page.astro";
import TypewriterText from "../components/TypewriterText";
---

<Layout>
  <Page>
    <h1 class="mb-5">Hi! I'm Charaf Mrah 👋</h1>
    <TypewriterText
      text={["Software Engineer", "Web Developer", "Freelancer"]}
      client:load
    />
  </Page>
  <Page>
    <h2>About Me</h2>
    <p>
      Blah blah blah I code sometimes blah blah blah PHP is dead blah blah blah
      HTML is a language blah blah blah
    </p>
  </Page>
</Layout>

<style>
  p {
    margin-top: 10px;
  }
</style>
