---
import Layout from "../layouts/Layout.astro";
import Page from "../components/Page.astro";
import MovingCards from "../components/MovingCards";
import Table from "../components/Table";

import { cardsData } from "../assets/data/PortfolioData";
import Skills from "./home/Skills.astro";
import Contact from "./home/Contact.astro";
import About from "./home/About.astro";
import Landing from "./home/Landing.astro";
---

<Layout>
  <div id="home">
    <Page>
      <Landing />
    </Page>
  </div>
  <div id="projects">
    <Page>
      <MovingCards data={cardsData} client:load />
    </Page>
  </div>
  <div id="about">
    <Page>
      <div class="content">
        <About />
      </div>
    </Page>
  </div>
  <Page>
    <div class="content">
      <Skills />
    </div>
  </Page>
  <Page>
    <div class="content">
      <Contact />
    </div>
  </Page>
</Layout>

<style>
  .content {
    max-width: 800px;
  }
</style>
