---
import HorizontalPageLayout from "../../layouts/HorizontalPageLayout.astro";
import image from "../../assets/images/headshot.png";
---

<HorizontalPageLayout id={"about"}>
  <div
    class="about component-hidden max-h-xl flex h-full max-w-3xl flex-col items-center justify-center gap-5 overflow-y-scroll lg:justify-center lg:py-52"
  >
    <h2 class="mt-0 self-start text-left lg:text-6xl">Who am I?</h2>
    <div>
      <p class="mb-5 text-xl">
        I'm a software engineer with a passion for technology and an
        appreciation for the finer things in life: football (soccer), chess, and
        books.
      </p>
      <p class="text-xl">
        Growing up in a small town in Algeria, I was exposed to computers and
        the internet at a young age and have since turned my hobby into a career
        building real-world websites and apps. I'm a quick learner and have
        experience with a variety of languages and technologies.
      </p>
    </div>
  </div>
</HorizontalPageLayout>
