---
import HorizontalPageLayout from "../../layouts/HorizontalPageLayout.astro";
---

<HorizontalPageLayout id={"contact-info"}>
  <div id="contact-text" class="component-hidden">
    <div class="line">
      <p class="word">Contact</p>
      <p class="word">Me</p>
    </div>

    <div class="line">
      <p class="word">Via A</p>
      <a
        id="calendly-link"
        href="https://calendly.com/charafmrah/15min"
        target="_blank"
        class="word fancy">Meeting</a
      >
    </div>

    <div class="line">
      <p class="word">Or On LinkedIn</p>
    </div>

    <div class="line">
      <a
        id="social-link"
        href="https://linkedin.com/in/charafmrah"
        target="_blank"
        class="word fancy"
      >
        @charafmrah
      </a>
    </div>
  </div>
</HorizontalPageLayout>

<style is:inline>
  :root {
    --orange: #fb923c;
    --yellow: #fbbf24;
  }
  p {
    all: unset;
  }
  @keyframes float {
    from,
    to {
      transform: translateY(-0%);
    }
    50% {
      transform: translateY(-3%);
    }
  }
  @keyframes background-pan {
    from {
      background-position: 1000% center;
    }
    to {
      background-position: 0% center;
    }
  }
  .line {
    display: flex;
    justify-content: space-between;
  }
  .word {
    color: #0f172a;
    font-size: clamp(2rem, 8vw, 4rem);
    font-weight: 600;
    margin: 0rem;
    text-transform: uppercase;
    transition: opacity 250ms ease;
  }
  a {
    text-decoration: none;
  }
  #contact-text:has(.fancy:hover) .word:not(.fancy:hover) {
    opacity: 0.2;
  }
  .fancy {
    color: var(--orange);
  }
  .fancy span {
    display: inline-block;
  }
  .fancy > .outer {
    transition: transform 350ms ease;
  }
  .fancy:hover > .outer {
    transition-duration: 800ms;
  }
  .fancy:hover > .outer > .inner {
    animation: float 5s ease infinite;
  }
  .fancy:hover > .outer > .inner > .letter {
    background: linear-gradient(
      to right,
      var(--orange),
      var(--yellow),
      var(--orange)
    );
    background-size: 1000%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: background-pan 150s linear infinite;
  }
  .fancy:hover > .outer:nth-child(1) {
    transform: translate(-80%, 60%) rotate(8deg);
  }
  .fancy:hover > .outer:nth-child(2) {
    transform: translate(-40%, 20%) rotate(4deg);
  }
  .fancy:hover > .outer:nth-child(3) {
    transform: translate(-10%, 60%) rotate(-6deg);
  }
  .fancy:hover > .outer:nth-child(4) {
    transform: translate(0%, 8%) rotate(-8deg);
  }
  .fancy:hover > .outer:nth-child(5) {
    transform: translate(0%, -20%) rotate(5deg);
  }
  .fancy:hover > .outer:nth-child(6) {
    transform: translate(0%, 20%) rotate(-3deg);
  }
  .fancy:hover > .outer:nth-child(7) {
    transform: translate(0%, -40%) rotate(-5deg);
  }
  .fancy:hover > .outer:nth-child(8) {
    transform: translate(0%, 15%) rotate(10deg);
  }
  .fancy:hover > .outer:nth-child(9) {
    transform: translate(0%, -50%) rotate(8deg);
  }
  .fancy:hover > .outer:nth-child(10) {
    transform: translate(0%, 15%) rotate(-6deg);
  }
  .fancy:hover > .outer:nth-child(11) {
    transform: translate(50%, -10%) rotate(-3deg);
  }
  .fancy:hover > .outer:nth-child(12) {
    transform: translate(120%, -30%) rotate(-10deg);
  }
</style>

<script>
  const rand = (min, max) => Math.floor(Math.random() * (max - min + 1)) + min;
  const enhance = (id) => {
    const element = document.getElementById(id),
      text = element.innerText.split("");
    element.innerText = "";
    text.forEach((value, index) => {
      const outer = document.createElement("span");
      outer.className = "outer";
      const inner = document.createElement("span");
      inner.className = "inner";
      inner.style.animationDelay = `${rand(-5000, 0)}ms`;
      const letter = document.createElement("span");
      letter.className = "letter";
      letter.innerText = value;
      letter.style.animationDelay = `${index * 1000}ms`;
      inner.appendChild(letter);
      outer.appendChild(inner);
      element.appendChild(outer);
    });
  };
  enhance("calendly-link");
  enhance("social-link");
</script>
