---
import HorizontalPageLayout from "../../layouts/HorizontalPageLayout.astro";

const jobs = Astro.props.jobs;
---

<HorizontalPageLayout id={"jobs"}>
  <div class="component-hidden jobs-cards-wrapper">
    {
      jobs.map((job) => (
        <div class="jobs-card">
          <div class="jobs-card-content">
            <div class="jobs-card-date">{job.date}</div>
            <div class="jobs-card-info">
              <h3>{job.title}</h3>
              <p>{job.description}</p>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</HorizontalPageLayout>

<style>
  .jobs-cards-wrapper {
    display: flex;
    gap: 5rem;
  }

  .jobs-card {
    width: 254px;
    height: 190px;
    transform: rotate(90deg);
    background: #18181b;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition-duration: 500ms;
    transition-property: width, height, transform;
  }

  .jobs-card:hover {
    width: 190px;
    height: 254px;
    transform: rotate(0deg);
    /* -ms-transform:rotate(90deg);
  -webkit-transform:rotate(90deg); */
  }

  .jobs-card-content {
    padding: 1rem;
    font-size: smaller;
  }

  .jobs-card-date {
    color: white;
    margin-bottom: 0.5rem;
    font-weight: 700;
  }

  .jobs-card-info {
    width: 100%;
    height: 200px;
    padding: 0.7rem;
    font-size: smaller;
    border-radius: 1rem;
    text-align: center;
    background-color: #fde68a;
    color: #fde68a;
    transition-duration: 1s;
    transition-property: color;
  }

  .jobs-card-info:hover {
    color: #212121;
  }
</style>
