---
import MouseDown from "../../assets/icons/MouseDown.astro";
import TypewriterText from "../../components/global/TypewriterText";
import HorizontalPageLayout from "../../layouts/HorizontalPageLayout.astro";
---

<HorizontalPageLayout id={"home"}>
  <div class="relative m-0 h-full w-screen">
    <div
      id="left-container"
      class="absolute z-20 hidden h-full place-items-center overflow-hidden bg-slate-100 text-center text-slate-900 lg:grid"
    >
      <div>
        <h1 class="mx-[10vw] w-[80vw] text-center text-4xl md:text-5xl lg:mb-5">
          Hi! I'm Charaf Mrah
        </h1>
        <div class="font-medium text-slate-800 lg:text-lg">
          <TypewriterText
            text={[
              "Software Engineer",
              "Web Developer",
              "Full-Stack Developer",
            ]}
            client:load
          />
        </div>
        <div class="items-align flex flex-col justify-center lg:hidden">
          <div class="mt-20">
            <lottie-player
              src="/swipe-left.json"
              background="transparent"
              speed="1"
              style="height: 80px;"
              loop
              autoplay></lottie-player>
          </div>
        </div>
      </div>
    </div>
  </div>
</HorizontalPageLayout>
