---
import TypewriterText from "../../components/TypewriterText";
import HorizontalPageLayout from "../../layouts/HorizontalPageLayout.astro";
---

<HorizontalPageLayout id={"home"}>
  <h1>Hi! I'm Charaf Mrah 👋</h1>
  <TypewriterText
    text={["Software Engineer", "Web Developer", "Freelancer"]}
    client:load
  />
</HorizontalPageLayout>

<style>
  h1 {
    @apply text-center;
  }
</style>
