---
import MouseDown from "../../assets/icons/MouseDown.astro";
import TypewriterText from "../../components/global/TypewriterText";
import HorizontalPageLayout from "../../layouts/HorizontalPageLayout.astro";
---

<HorizontalPageLayout id={"home"}>
  <div class="relative m-0 h-full w-screen">
    <div
      id="left-container"
      class="absolute z-20 grid h-full w-1/4 place-items-center overflow-hidden bg-orange-400 text-center text-white"
    >
      <div>
        <h1
          class="mx-[10vw] mb-[5vh] w-[80vw] text-center text-[6vw] text-white"
        >
          Hi! I'm Charaf Mrah
        </h1>
        <div class="font-medium lg:text-xl">
          <TypewriterText
            text={["Software Engineer", "Web Developer", "Freelancer"]}
            client:load
          />
        </div>
        <div class="items-align mt-5 flex flex-col justify-center lg:hidden">
          <lottie-player
            src="/swipe-left.json"
            background="transparent"
            speed="1"
            style="height: 100px;"
            loop
            autoplay></lottie-player>
        </div>
      </div>
    </div>
    <div
      id="right-container"
      class="absolute grid h-full w-full place-items-center overflow-hidden bg-white text-center text-slate-900"
    >
      <div>
        <h1 class="mx-[10vw] mb-[5vh] w-[80vw] text-center text-[6vw]">
          Hi! I'm Charaf Mrah
        </h1>
        <div class="font-medium lg:text-xl">
          <TypewriterText
            text={["Software Engineer", "Web Developer", "Freelancer"]}
            client:load
          />
        </div>
        <div class="items-align mt-5 flex flex-col justify-center lg:hidden">
          <lottie-player
            src="/swipe-left.json"
            background="transparent"
            speed="1"
            style="height: 100px;"
            loop
            autoplay></lottie-player>
        </div>
      </div>
    </div>
  </div>
</HorizontalPageLayout>

<script>
  // Slide effect
  const left = document.getElementById("left-container");

  const handleMove = (e) => {
    left.style.width = `${(e.clientX / window.innerWidth) * 100}%`;
  };

  document.onmousemove = (e) => handleMove(e);
</script>
