---
import HorizontalPageLayout from "../../layouts/HorizontalPageLayout.astro";
---

<HorizontalPageLayout id={"skills"}>
  <div
    class="component-hidden skills-card flex flex-col justify-center max-w-3xl max-h-96"
  >
    <div class="tools">
      <div class="circle">
        <span class="red box"></span>
      </div>
      <div class="circle">
        <span class="yellow box"></span>
      </div>
      <div class="circle">
        <span class="green box"></span>
      </div>
    </div>
    <div
      class="p-5 flex flex-col gap-2 text-lg md:text-xl justify-center font-semibold"
    >
      <div>
        <h3 class="mt-0">Programming languages:</h3>
        <p>JavaScript - Java - Python - PHP - Kotlin - TypeScript</p>
      </div>
      <div>
        <h3>Technologies:</h3>
        <p>
          React - HTML - CSS - Node.js - Next.js - Express.js - WordPress -
          Android SDK - Flutter - Git - MySQL - SQLite - Firebase - Linux
        </p>
      </div>
    </div>
  </div>
</HorizontalPageLayout>

<style>
  .skills-card {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #f8fbfe;
    border-radius: 8px;
    z-index: 1;
  }

  .tools {
    display: flex;
    align-items: center;
    padding-left: 1.25rem;
  }

  .circle {
    padding: 0 4px;
  }

  .box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
  }

  .red {
    background-color: #f87171;
  }

  .yellow {
    background-color: #fb923c;
  }

  .green {
    background-color: #34d399;
  }
</style>
