---
import DarkLightMode from "../assets/icons/DarkLightMode.astro";
import Resume from "../assets/icons/Resume.astro";
import Logo from "./Logo.astro";
---

<div
  class="header absolute top-0 left-0 z-20 flex w-full items-center justify-between gap-3 py-2 px-5 transition-all duration-500 ease-in-out"
>
  <a href="/#home" class="shrink-0">
    <Logo text="Charaf" />
  </a>
  <div
    class="flex items-center justify-center gap-5 text-xl font-semibold text-black"
  >
    <!--
    <DarkLightMode />
   -->
    <a
      href="https://docs.google.com/document/d/1C0H51uE7jfJ9IL7-pILhSeYVvDy_crgKwBM2Sb3aeAg/edit?usp=sharing"
      target="_blank"
    >
      <Resume />
    </a>
  </div>
</div>

<style>
  body[data-nav="true"] > .header {
    transition: all 500ms;
    transform: translateY(-100%);
    visibility: hidden;
  }
</style>
