---
import { Image } from "@astrojs/image/components";
import logo from "../assets/images/logo.png";
---

<div
  class="z-20 w-full bg-white py-2 px-5 absolute top-0 left-0 flex flex-col lg:flex-row items-center gap-3 justify-between"
>
  <a href="/#home">
    <Image src={logo} width={200} alt="charaf mrah" />
  </a>
  <div class="flex gap-5 text-black font-semibold text-xl">
    <button>Resume</button>
    <button>Dark</button>
  </div>
</div>
