---
import DarkLightMode from "../assets/icons/DarkLightMode.astro";
import Resume from "../assets/icons/Resume.astro";
import logo from "../assets/images/logo.png";
import Logo from "./Logo.astro";
---

<div
  class="z-20 w-full bg-white py-2 px-5 absolute top-0 left-0 flex items-center gap-3 justify-between"
>
  <a href="/#home" class="shrink-0">
    <Logo text="Charaf" />
    <!-- 

    <span
      class="text-xl md:text-3xl text-slate-900 font-black select-none line-through decoration-orange-400 decoration-green-300css strikethrough"
      >Charaf Mrah</span
    >
     -->
  </a>
  <div
    class="flex gap-5 justify-center items-center text-black font-semibold text-xl"
  >
    <DarkLightMode />
    <a
      href="https://docs.google.com/document/d/1C0H51uE7jfJ9IL7-pILhSeYVvDy_crgKwBM2Sb3aeAg/edit?usp=sharing"
      target="_blank"
    >
      <Resume />
    </a>
  </div>
</div>
