---
---

<section class="page">
  <slot />
</section>

<style>
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-2xl text-left text-slate-900 mb-5 mt-8;
  }

  h1 {
    @apply text-6xl mt-0 mb-5;
  }

  h2 {
    @apply text-6xl font-bold mb-5;
  }
  .page {
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    padding: 0 1rem;
    overflow: hidden;
  }
</style>
