---
---

<section class="page">
  <slot />
</section>

<style>
  .page {
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: var(--page-height);
    min-height: -webkit-fill-available;
    scroll-snap-align: start;
    padding: 0 1rem;
    overflow: hidden;
  }
</style>
