.moving-cards {
  @apply flex h-[var(--page-height)] max-h-[var(--page-height)] min-h-[-webkit-fill-available] w-full flex-col items-center gap-5 overflow-y-scroll pt-20 pb-40 lg:w-[90%] lg:flex-row lg:justify-center lg:py-52;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.moving-cards::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.moving-cards {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.panel {
  @apply relative flex h-[50vh] min-w-full cursor-pointer flex-col rounded-lg bg-cover bg-center bg-no-repeat p-5 text-white shadow-lg transition-all duration-300 ease-in-out lg:min-w-0 lg:flex-[0.5];
}

.panel.active {
  @apply transition-all duration-300 ease-in-out lg:flex-[5];
}

.panel .card-info {
  @apply m-0 flex w-auto flex-col text-white transition-all duration-100 ease-in lg:absolute lg:bottom-5 lg:left-5 lg:gap-8 lg:gap-2  lg:opacity-0;
}

.panel.active .card-info {
  @apply opacity-100 transition duration-700 ease-in;
}

.panel > .card-id {
  @apply absolute top-5 left-5 flex justify-center text-8xl font-extrabold text-white opacity-0 lg:opacity-100;
}

.panel.active > .card-id {
  @apply justify-start;
}

.panel a {
  @apply text-white lg:hidden;
}

.panel.active a {
  @apply block;
}

.panel svg {
  @apply absolute top-5 right-5 flex justify-center text-8xl font-extrabold text-white opacity-0 transition;
}

.panel.active svg {
  @apply justify-end transition-opacity  md:opacity-100;
}
