---
import TableOfContents from "../components/TableOfContents.astro";
import BlogLayout from "./BlogLayout.astro";
import { Image } from "@astrojs/image/components";
export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<BlogLayout>
  <div
    id="page"
    class="h-screen overflow-auto scroll-smooth py-28 px-5 text-base md:px-40 lg:px-80 lg:pt-20 lg:pb-32"
  >
    <TableOfContents />
    <div class="contents">
      <article id="single-article">
        <h1 class="title">{title}</h1>
        {
          heroImage && (
            <Image
              class="mb-10 w-full rounded-lg"
              src={import(`../assets/images/hero/${heroImage}.png`)}
              alt="Hero image"
            />
          )
        }
        <p>{description}</p>
        <hr class="mb-10" />
        <slot class="" />
      </article>
    </div>
  </div>
</BlogLayout>

<style is:global>
  p {
    @apply mb-10;
  }

  img {
    @apply mb-5 max-w-full rounded-md shadow-md;
  }

  .contents {
    padding: 1em;
    width: 100%;
    max-width: 800px;
    font-size: 1.2em;
  }
  .contents h2,
  .contents h3 {
    padding-top: 1em;
  }
</style>
