---
import TableOfContents from "../components/TableOfContents.astro";
import MainLayout from "./MainLayout.astro";
import { Image } from "@astrojs/image/components";
export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<MainLayout>
  <div
    class="page h-screen overflow-auto py-28 px-5 text-base md:px-40 lg:px-80 lg:pt-20 lg:pb-32"
  >
    <TableOfContents />
    <article>
      <div class="contents">
        <h1 class="title">{title}</h1>
        {
          heroImage && (
            <Image
              class="mb-10 w-full rounded-lg"
              src={import(`../assets/images/hero/${heroImage}.png`)}
              alt="Hero image"
            />
          )
        }
        <p>{description}</p>
        <hr class="mb-10" />
        <slot class="" />
      </div>
    </article>
  </div>
</MainLayout>

<script src="./toc.js"></script>

<style is:global>
  p {
    @apply mb-10;
  }

  .page {
  }

  .contents {
    padding: 1em;
    width: 100%;
    max-width: 800px;
    font-size: 1.2em;
  }
  .contents img {
    max-width: 100%;
  }
  .contents h2,
  .contents h3 {
    padding-top: 1em;
  }
</style>
