---
const id = Astro.props.id;
---

<section id={id} class="page">
  <slot />
</section>

<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      console.log(entry);
      if (entry.isIntersecting) {
        entry.target.classList.add("show");
      } else {
        entry.target.classList.remove("show");
      }
    });
  });

  const hiddentElements = document.querySelectorAll(".hidden");
  hiddentElements.forEach((element) => {
    observer.observe(element);
  });
</script>

<style>
  .page {
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: var(--page-height);
    max-height: var(--page-height);
    min-height: -webkit-fill-available;
    width: 100vw;
    min-height: -webkit-fill-available;
    scroll-snap-align: start;
    overflow: hidden;
  }
</style>
