---
const id = Astro.props.id;
---

<section id={id} class="page">
  <slot />
</section>

<style>
  .page {
    @apply px-6 flex-none flex flex-col justify-center items-center h-[var(--page-height)] max-h-[var(--page-height)] min-h-[-webkit-fill-available] w-full overflow-hidden;
  }
  .page {
    scroll-snap-align: start;
  }
</style>
