---
const id = Astro.props.id;
---

<section
  id={id}
  class="flex h-screen max-h-full w-screen max-w-full flex-none snap-start flex-col items-center justify-center overflow-hidden px-6"
>
  <slot />
</section>
