---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Container from "../components/Container.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <link
      rel="stylesheet"
      href="//use.fontawesome.com/releases/v5.0.7/css/all.css"
    />
  </head>
  <body data-nav="false">
    <main>
      <div class="container">
        <slot />
      </div>
    </main>
    <Footer />

    <script src="../components/menu.ts"></script>
    <script>
      const container = document.querySelector(".container");

      container.addEventListener("wheel", (e: WheelEvent) => {
        e.preventDefault();
        e.deltaY > 0
          ? (container.scrollLeft += 1000)
          : (container.scrollLeft -= 1000);
      });
    </script>

    <style>
      .container {
        display: flex;
        min-width: 100%;
        flex-direction: row;
        align-items: center;
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-behavior: smooth;
      }
    </style>
  </body>
</html>
