---
import BaseHead from "../components/global/BaseHead.astro";
import Footer from "../components/global/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Header from "../components/global/Header.astro";
import { SEO } from "astro-seo";

declare global {
  interface Window {
    dataLayer: any[];
    gtag: (...args: any[]) => void;
  }
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <SEO
      title="Charaf Mrah"
      description="A creative software engineer with a passion for building beautiful and performant web applications."
      openGraph={{
        basic: {
          title: "Welcome to Charaf Mrah's website",
          type: "website",
          image: "https://charafmrah.com/thumbnail.jpg",
        },
        image: {
          url: "https://charafmrah.com/thumbnail.jpg",
          width: 1200,
          height: 630,
          alt: "Charaf Mrah",
        },
      }}
      twitter={{
        creator: "@charafmrah",
      }}
    />

    <!-- Swip Animation -->
    <script
      src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
    ></script>

    <!-- EmailJS -->
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
    ></script>
    <script type="text/javascript">
      (function () {
        // https://dashboard.emailjs.com/admin/account
        emailjs.init("_euaN4QLVAx11C2O5");
      })();
    </script>
    <script type="text/javascript">
      window.onload = function () {
        document
          .getElementById("contact-form")
          .addEventListener("submit", function (event) {
            event.preventDefault();

            document.getElementById("loading").classList.remove("hidden");
            document.getElementById("submit").classList.add("hidden");

            // generate a five digit number for the contact_number variable
            this.contact_number.value = (Math.random() * 100000) | 0;
            if (
              this.name.value === "" ||
              this.email.value === "" ||
              this.message.value === ""
            ) {
              alert("Please fill out all fields");
              document.getElementById("loading").classList.add("hidden");
              document.getElementById("submit").classList.remove("hidden");
              return;
            }

            // check for valid email
            if (
              !this.email.value.includes("@") ||
              !this.email.value.includes(".") ||
              this.email.value.length < 5 ||
              this.email.value.length > 50
            ) {
              alert("Please enter a valid email address");
              document.getElementById("loading").classList.add("hidden");
              document.getElementById("submit").classList.remove("hidden");
              return;
            }

            // these IDs from the previous steps
            emailjs.sendForm("service_eewf8uh", "template_edef2pr", this).then(
              function () {
                document
                  .getElementById("contact-form-wrapper")
                  .classList.add("hidden");
                document.getElementById("success").classList.remove("hidden");
                document.getElementById("contact-form").reset();
              },
              function (error) {
                document
                  .getElementById("contact-form-wrapper")
                  .classList.add("hidden");
                document.getElementById("error").classList.remove("hidden");
                document.getElementById("loading").classList.add("hidden");
                document.getElementById("submit").classList.remove("hidden");
              }
            );
          });
      };
    </script>
  </head>

  <body data-nav="false" class="m-0 bg-black font-Inter text-slate-700">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-59JLRZ4JB2"
    ></script>
    <script type="text/partytown" is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-59JLRZ4JB2");
    </script>

    <Header />
    <main
      role="main"
      class="relative z-[2] m-0 transform bg-white bg-cover bg-center transition-all duration-500 ease-in-out"
    >
      <div
        class="container box-border flex h-[var(--page-height)] max-h-[var(--page-height)] min-h-[-webkit-fill-available] w-full min-w-full snap-x snap-mandatory flex-row items-center overflow-y-hidden overflow-x-scroll scroll-smooth"
      >
        <slot />
      </div>
    </main>
    <Footer />

    <script is:inline>
      document
        .getElementById("nav-toggle")
        .addEventListener("click", toggleNav);

      document.querySelectorAll("a.nav-link").forEach((link) => {
        link.addEventListener("click", toggleNav);
      });

      function toggleNav() {
        document.body.dataset.nav =
          document.body.dataset.nav === "true" ? "false" : "true";
      }
    </script>

    <script defer>
      let options = {
        root: document.querySelector(".container"),
        rootMargin: "0px",
      };
      const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("show");
          } else {
            entry.target.classList.remove("show");
          }
        });
      }, options);

      const hiddenElements = document.querySelectorAll(".component-hidden");
      hiddenElements.forEach((element) => {
        observer.observe(element);
      });
    </script>
  </body>
</html>
