---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Header from "../components/Header.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <link
      rel="stylesheet"
      href="//use.fontawesome.com/releases/v5.0.7/css/all.css"
    />
  </head>
  <body data-nav="false">
    <Header />
    <main>
      <div
        class="container flex min-w-full flex-row items-center overflow-x-scroll overflow-y-hidden snap-mandatory snap-x scroll-smooth"
      >
        <slot />
      </div>
    </main>
    <Footer />

    <script src="../components/menu.ts"></script>
    <script>
      const container = document.querySelector(".container");

      container.addEventListener("wheel", (e: WheelEvent) => {
        e.preventDefault();
        e.deltaY > 0
          ? (container.scrollLeft += 1000)
          : (container.scrollLeft -= 1000);
      });
    </script>

    <script>
      let options = {
        root: null,
        rootMargin: "0px",
      };
      const observer = new IntersectionObserver((entries) => {
        console.log(entries);
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("show");
          } else {
            entry.target.classList.remove("show");
          }
        });
      });

      const hiddentElements = document.querySelectorAll(".component-hidden");
      hiddentElements.forEach((element) => {
        observer.observe(element);
      }, options);
    </script>
  </body>
</html>
